<div class="fullscreen landing-alexandria rellax banner-alexandria" data-rellax-speed="2">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="logo-alexandria" style="">
                        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", alt:"Logo" %>
                    </div>

                    <h1 class="cta-alexandria">
                        Alexandria
                    </h1>

                    <div class="tagline-alexandria">
                        <div>
                            Take Your Own Library Anywhere
                        </div>
                    </div>

                    <%= link_to "Sign Up", 
                        { controller: "users/registrations", 
                        action: "new" }, 
                        class: "action-button-alexandria btn btn-primary" 
                    %>
                </div>
            </div>
        </div>
    </div>
</div>
