<div class="fullscreen landing parallax alexandria-banner" data-img-width="2000" data-img-height="1125" data-diff="100">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="" style="">
                        Logo
                    </div>

                    <h1 class="">
                        Alexandria
                    </h1>

                    <div class="">
                        <div>
                            Your Own Library Anywhere
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
