<div class="fullscreen landing-alexandria rellax banner-alexandria" data-rellax-speed="2">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="logo-alexandria" style="">
                        Logo
                    </div>

                    <h1 class="">
                        Alexandria
                    </h1>

                    <div class="">
                        <div>
                            Your Own Library Anywhere
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" data-toggle="tooltip">Sign Up</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
